NVIDIA_API_KEY=your_nvidia_nim_api_key_here
ADMIN_PASSWORD=telvyn_admin
KNOWLEDGE_DIR=./knowledge
DB_DIR=./data/chroma_db
SQL_DB_URL=sqlite:///./data/telvyn.db

# Observability (LangSmith)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT="Telvyn-Hybrid-AI"
