streamlit
langchain>=0.3.0
langchain-community>=0.3.0
langchain-nvidia-ai-endpoints
langgraph
python-dotenv
chromadb
sentence-transformers
rank_bm25
gitpython
sqlalchemy
pydantic>=2.0
faiss-cpu
duckduckgo-search
